<div class="comment-form">
    <pre>GRC this is a Timber part2</pre>
    <h3>Add comment</h3>
    <form class="comment-form" method="post" action="{{ site.site_url~'/wp-comments-post.php' }}">
        {% if  user %}
            <input type="hidden" name="email" value="{{ user.email }}">
            <input type="hidden" name="author" value="{{ user.name }}">
            <input type="hidden" name="url" value="{{ user.link }}">
        {% else %}
            <label>Email<br>
                <input id="email" name="email" required type="email">
            </label>
            <label>Name<br>
                <input name="author" required type="text">
            </label>
            <label>Website<br>
                <input name="url" type="url">
            </label>
        {% endif %}
        <label>Comment<br>
            <textarea cols="60" name="comment" placeholder="Leave a comment..." rows="3"></textarea>
        </label>
        <input name="comment_post_ID" value="{{ post.id }}" type="hidden">
        <input name="comment_parent" value="{{ comment.ID|default('0') }}" type="hidden">
        <button class="btn" name="Submit" type="submit">Send</button>
        <button type="reset">Cancel</button>
        <p>Your comment will be revised by the site if needed.</p>
    </form>
</div>
